@model AccentureAcademy.Libreria.Models.Genero

<h1>Formulario de Generos</h1>

<form name="_form" data-actionlink=@ViewBag.actionlink>
    @Html.LabelFor(m => m.Nombre)
    @Html.EditorFor(m => m.Nombre)

    @Html.LabelFor(m => m.Descripcion)
    @Html.EditorFor(m => m.Descripcion)

    <button></button>
</form>