<h1>Busqueda </h1>
<form>
</form>

<table id="tabla libros">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Año Publicacion
            </th>
            <th>
                Cantidad de paginas
            </th>
            <th>
                ISBN
            </th>
            <th>
                Generos
            </th>
            <th>
                Autores
            </th>
            <th>
                Editorial
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
