@model AccentureAcademy.Libreria.Models.Libro
<p>Formulario de libros</p>
<!-- <select name="select">

    <option value="value1">Value 1</option>
    <option value="value2" selected>Value 2</option>
    <option value="value3">Value 3</option>
</select> -->

@Html.DropDownList("EditorialId", null, htmlAttributes: new { @class = "form-control" , Id="EditorialSelect" })

