
@{
    ViewBag.Title = "Libros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <button name="crearView" data-actionLink="@Url.Action("Crear", "Libros")"></button>
    <button></button>
</main>


@section scripts
{
    @Scripts.Render("~/Scripts/Custom/libros.js")
}
